
.main-content {
    margin:5px;
}
.content__box-title {
    background-color: #36287d;
    color: white;
    text-align: center;
    line-height:30px;
    font-weight:bold;
    font-size:15px;
}
.box_mod{
    padding:5px;
}
.wrap-img_masv{
    float:left;
}
.img-info{
    margin-bottom:27px;
}
.wrap-img_masv span {
    display: block;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.tb-infoSV{
    width:75%;
    float:left;
    margin-left:20px;
    font-size:12px;
}
.table-SV{
    text-align:left;
    margin-bottom:20px;
}
.table-SV tr{
    line-height:33px;
}
.table-SV tr td{
    width:50%;
    padding:0 35px 0 10px;
    color:#333;
}
.text-tt{
    margin-left:calc(50%-78px);
}
.content__box-title--wrap{
    display:flex;
    justify-content:flex-end;
}
.tt_canhan {
    margin-right: 20%;
}
.update-info {
    float: right;
}
.update-info>a{
    font-size:11px;
    color:white;
    text-decoration:none;
    font-weight:lighter;
}
.update-info>a>img{
    width:34px;
}
.tb-details{
    width:100%;
    font-size:12px;
}
.main-content--wrap {
    border: 1px solid #165975;
}