
.main-content {
    border: 1px solid #165975;
    margin:5px;
}
.content__box-title {
    background-color: #36287d;
    color: white;
    text-align: center;
    line-height:30px;
    font-weight:bold;
    font-size:15px;
}
.box_mod{
    padding:5px;
}
.wrap-img_masv{
    float:left;
}
.img-info{
    margin-bottom:27px;
}
.wrap-img_masv span {
    display: block;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.tb-infoSV{
    width:75%;
    float:left;
    margin-left:20px;
    font-size:12px;
}
.table-SV tr{
    line-height:33px;
    
}
.table-SV tr td{
    width:50%;
    padding:0 15px;
}
.text-tt{
    margin-left:calc(50%-78px);
}
.update-info{
    float:right;
}
.update-info>a{
    font-size:11px;
    color:white;
    text-decoration:none;
    font-weight:lighter;
}
.update-info>a>img{
    width:34px;

}